<div class="container">
    <div class="row">
        <div class="section">
            <div class="col l6 m12 s12">
                <h4>Register</h4>
                <p>
                    @Html.Raw(ViewBag.Message)
                </p>
            </div>
        </div>
    </div>
    <div class="col l6 m12 s12">
        <img class="responsive-img kn-img-margin" src="assets/Sign-In%20photo/signinphoto.jpg">
    </div>
</div>
