@using MedioClinic.Models.Account

@model MedioClinic.Models.PageViewModel<EmailViewModel>

@using (Html.BeginForm("ForgotPassword", "Account"))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="section">
                <div class="col l6 s12">
                    <h4>Reset password</h4>
                    <p>
                        <a href="@Url.Action("Register", "Account")" class="kn-smaller">New in Medio Clinic? Register now!</a>
                        <div class="col s12">
                            <div class="row kn-row-margin">
                                <div class="input-field col s6">
                                    @Html.TextBoxFor(m => m.Data.Email, new { @class = "validate", placeholder = Html.DisplayNameFor(m => m.Data.Email) })
                                </div>
                            </div>
                            <div class="row kn-row-margin">
                                <div>
                                    <button class="btn waves-effect waves-light red darken-3" type="submit" name="action">Reset my password</button>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Signin", "Account")" class="kn-smaller">Already a member? Sign in instead!</a>
                    </p>

                </div>
                <div class="col l6 s12">
                    <img class="responsive-img kn-img-margin" src="assets/Sign-In photo/590062300.jpg">
                </div>
            </div>
        </div>
    </div>
}